.content__body{
  width: 640px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.order__number{
  text-align: center;
}

.ingredients__container{
  width: 100%;
  max-height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 24px;
}
.ingredients__container::-webkit-scrollbar {
  width: 8px;
}
.ingredients__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #8585AD; 
  -webkit-box-shadow: inset 0 0 6px #8585AD; 
  border-radius: 10px;
}
.ingredients__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 100px #8585AD; 
  -webkit-box-shadow: inset 0 0 100px #8585AD; 
}
.ingredient__info{
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-top: 16px;
}
.ingredient__info:first-child{
  margin-top: 0;
}
/* rgba(0, 204, 204, 1) */
.ingredient__image{
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(90deg,rgba(128, 26, 178, 1), rgba(76, 76, 255, 1));
  border-radius: 100%;
}
.ingredient__image::before{
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 2px;
  background: rgba(28, 28, 33, 1);
  border-radius: 100%;
}
.ingredient__image img{
  width: 100%;
  z-index: 50;
  transform: scale(1.6)
}
.ingredient__title{
  width: 350px;
  margin-left: 16px;
  margin-right: 16px;
}

.order__info{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.order__price{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order__price span{
  width: 120px;
  text-align: end;
  margin-right: 9px;
}